body{
    background-color: rgb(245, 245, 248);
    padding: 0px;
    color:rgb(242, 237, 237);
    margin:0;

}
header {
    background-color: #333;
    color: rgb(249, 246, 246);
    padding: 1rem;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    display: flex;
    list-style: none; /*For no bullets*/
    padding: 0;
    margin: 0;
  
}
header nav ul li {
    margin-left: 1rem;
}
header nav ul li a {
    color: rgb(249, 248, 248);
    text-decoration: none;
}
header nav ul li a:hover {
    text-decoration: underline;
    
}
/*Creating a button*/
.button1{
    display: flex;
    gap:1rem;
}
.button1 button {
    background-color: #f8f8fb;
    color: rgb(20, 20, 20);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}
 .button1 button:hover{
    background-color: #cbcdd0;
 }